node_modules/
dist/
target/
out/
__pycache__/
*.pyc
.venv/
venv/
.env
.env.local
.env.*.local
.idea/
.vscode/
*.iml
*.classpath
*.project
*.settings/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
*.ps1
*.bat
*.md
cp.txt
docs/
tests/
.pytest_cache/
.streamlit/
debug/
data/
*.dump
*.sql
*.db
*.mv.db
*.trace.db
.git/
offline-package/
tests/
